{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}    

{% block content %}
    <form method="post" action= "{%url 'registration'%}">
        {%csrf_token%}
            <p>
                <label for="id_username">{{form.username.label}}</label>
                {{form.username}}
                {{form.errors.username}}
            </p>    
            <p>
                <label for="id_password1">{{form.password1.label}}</label>
                {{form.password1}}
                {{form.errors.password1}}
            </p>    
            <p> 
                <label for="id_password2">{{form.password2.label}}</label>
                {{form.password2}}
                {{form.errors.password2}}
            </p>
            <p> 
                <label for="id_email">{{form.email.label}}</label>
                {{form.email}}
                {{form.errors.email}}
            </p>

        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}