{% extends 'base.html' %}    
    
{% block title %}
    Главная
{% endblock %}    

{% block content %}
    {% for el in film %}
        {{el}}<br>
        <img src="{{ MEDIA_URL }}{{ el.poster.url }}", height="200"/><br>
        {{el.description}}<br>
        {{el.year}}<br>
        {% for i in el.country.all  %}
            {{ i.title }}
        {% endfor %}<br>
        {% for i in el.genre.all  %}
            {{ i.title }}
        {% endfor %}<br>
        {{el.duration}}<br>
        {{el.premiere}}<br>
        {% for i in el.producer.all  %}
            {{ i.title }}
        {% endfor %}<br>
    {% endfor %}
{% endblock %}